<html>
<head>
<title> Stock doesnt exist </title>
<style type="text/css">
		body{
			
			color: red;
	
		.style1{
			
			text-align: center;
			margin: 0 auto;
			width: 500px;
			padding-top: 10%;
			font-size: 200%;
			font-family:"Times New roman",Times,serif;
			line-height: 400%;
		}

</head>

<body>

<div class= "style_1">
<h1>Page Not Found</h1>
<h2>Please enter a valid stock name</h2>
<a href= "http://127.0.0.1:5000/">Click here to return to home page</a>
</div>
</body>
</html>
