<!DOCTYPE html>
<html lang="en">
<head>
<title> Home Page </title>
<style type="text/css">
		body{
			color: blue;
	
		.style1{
			
			text-align: center;
			margin: 0 auto;
			width: 500px;
			padding-top: 10%;
			font-size:150%;
			font-family:"Times New roman",Times,serif;
			line-height: 300%;
		}
	</style>
<body>
<div class= "style_1">   
<h1>Enter Stock name</h1>
    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="GetStock" value="Search">
    </form>

</div>
</body>
</html>
